VITE_BLOG_ENABLE=true
VITE_BLOG_BETA=false

VITE_LIBRARY_ENABLE=false
VITE_LIBRARY_BETA=false

VITE_API_BASE_URL=http://127.0.0.1:8000

VITE_ASK_ENABLE=true
VITE_ASK_BETA=false

VITE_SETTINGS_ENABLE=false
VITE_SETTINGS_BETA=false

VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your_form_id
